<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GymsDB"
			 connectionString="Data Source=DESKTOP-SQFPDV4\SQLEXPRESS;Initial Catalog=GYMSDB;Integrated Security=True;Encrypt=False"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>